@media print {
    a[href]:after {
        content: "" !important;
    }
    abbr[title]:after {
        content: " " !important;
    }
    body {
        font-size: 0.625em;
    }
    .portada {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .portada-middle {
        margin-top: 100px;
    }
    .portada-down {
        margin-top: 350px;
    }
    table {
        border-collapse: collapse;
        width: auto;
        margin: auto;
    }
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
}
